<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

.meassge_contaner{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

body{
    height: 100vh;
    

}

h1{
    font-size: 2rem;
}

    </style>

</head>
<body>
    
    
    <div class="meassge_contaner">

    <h1><%= message %></h1>

    <div class="message video">

        <video width="320" height="240" autoplay muted loop>
            <source src="https://cdnl.iconscout.com/lottie/premium/preview-watermark/complete-10290721-8403713.mp4" type="video/mp4">
        
            Your browser does not support the video tag.
          </video>

    </div>
    
</div>

</body>


<script>




</script>

</html>